{
  "extends": "airbnb",
  "rules": {
    "semi": 2,    
    "no-param-reassign": [ "error",  { "props": false } ]
  },
  "globals": {
    "app": true,
    "afterEach": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "Joi": true,
    "joiAssert": true,
    "request": true,
    "td": true
  }
}
